.about-main {
	.make-md-column(7.875);	
}

.about-side {
	background: #fff;
	.make-md-column(3.75);
	padding-top: 15px;
	padding-bottom: 15px;
	.make-md-column-offset(0.375);
}

.about-row {
	.make-row;
	margin-bottom: 15px;
}

.about-text {
	.make-sm-column(7.125);
	.make-md-column(6.4285);
	background: #fff;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	
	@media screen and (min-width: @screen-md-min) {
	margin-bottom: 0px;
	}
}

.about-image {
	.make-sm-column(4.5);
	.make-sm-column-offset(0.375);
	.make-md-column(5);
	.make-md-column-offset(0.5715);
	background: #fff;
	//.img-responsive;
	padding-top: 15px;
	padding-bottom: 15px;
	
	img {
		width:100%;
		}
}

.about-text-three {
	.make-sm-column(12);
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.acf-map {
	//width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 0 0 20px 0;
}
