.services {
	
	&-col-1, &-col-2, &-col-3 {
		.make-sm-column(3.75);
		background: #fff;
	
	}
	
	&-col-1 {
		font-family: 'Lato', sans-serif;
		
		h2 {
			font-family: 'Sue Ellen Francisco', cursive;
		}	
	}
	
	&-col-2 {
		font-family: 'Lato', sans-serif;
		
		h2 {
			font-family: 'Sue Ellen Francisco', cursive;
		}
	}
	
	&-col-3 {
		font-family: 'Lato', sans-serif;
		
		h2 {
			font-family: 'Sue Ellen Francisco', cursive;
		}
	}
	
	/*font-family: 'Patrick Hand', cursive;
	font-family: 'Amatic SC', cursive;
	font-family: 'Open Sans Condensed', sans-serif;*/
		
	&-col-2, &-col-3 {
		.make-sm-column-offset(0.375);
	}

}