// Content wrapper
.wrap { 
	margin-left:15px;
	margin-right:15px;
	
	@media screen and (min-width: @screen-sm-min) {
		margin-left:auto;
		margin-right:auto;
	}
}

// Main content area
.main {
	margin-top: 30px;
	margin-bottom: 30px;
	}
	
.full-width {
	.make-sm-column(12);
}

.with-sidebar {
	.make-sm-column(8);
}

.sidebar-width {
	.make-sm-column(4);
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }