.navbar {
	//height: @navbar-big-height;
}

.navbar-header {
	
	@media (min-width: @grid-float-breakpoint) {
		margin-left: -30px;
	}
}

// not sure if needed
/*.navbar-collapse {
	max-height: @navbar-collapse-max-height;
}*/

// Brand/project name

.navbar-btn {
	padding: @nav-link-padding-sm;
	font-weight: @navbar-font-weight;
	line-height: @line-height-computed;
	position: absolute;
	top: 0;
	right: @navbar-spacing;
	
	@media screen and (min-width: @screen-sm-min) {
		position: relative;
		margin-top: -(@navbar-height - @navbar-margin-top);
		margin-bottom: 0;
		left: @navbar-spacing;
		right: 0;
	}
	
	@media screen and (min-width: @screen-md-min) {
		padding: @nav-link-padding;
		left: 0;
	}
}
.navbar-toggle {
	float: left;
	margin-right: 0;
	margin-left: @navbar-padding-horizontal;
}